<div class="row">
  <div class="large-12 columns">
  <h1>Welcome, <%= current_user.username %></h1>
</div>
</div>

<div class="row">
  <div class="large-8 columns">
    <article>

      <div class="row">
        <div class="large-12 columns">
            <div class="user-dashboard">
      <h3>Your Snippets</h3>
      <% if current_user.snippets.count == 0 %>
        <p>You have not written any snippets.</p>
      <% else %>
        <% current_user.snippets.each do |snippet|  %>
          <%= link_to strip_tags(snippet.content), snippet_path(snippet)  %>
        <% end %>
      <% end %>
    </div>
    <div class="user-dashboard">
      <h3>Your Unpublished Stories</h3>
      <% if current_user.stories.where(published: false).count == 0 %>
        <p>You have no unpublished stories.</p>
      <% else %>
        <% current_user.stories.where(published: false).each do |story| %>
          <%= link_to "#{story.title}", story_path(story) %><br>
        <% end %>
      <% end %>
    </div>

    <div class="user-dashboard">
      <h3>Your Published Stories</h3>
      <% if current_user.stories.where(published: true).count == 0 %>
        <p>You have no published stories.</p>
      <% else %>
        <% current_user.stories.where(published: true).each do |story| %>
          <%= link_to "#{story.title}", story_path(story) %><br>
        <% end %>
      <% end %>
    </div>

    <div class="user-dashboard">
      <h3>Stories You Voted On</h3>
      <% if current_user.votes.count == 0 %>
        <p>You have not voted any stories.</p>
      <% else %>
        <% current_user.votes.each do |vote| %>
          <%= link_to "#{vote.story.title}", story_path(vote.story) %>
        <% end %>
      <% end %>
    </div>

    </article>
  </div>

  <aside class="large-4 columns">

    <div class="user-dashboard">
      <%= link_to "View Profile", user_path(current_user)  %>
    </div>

    <div class="user-dashboard">
      <h5>Story Of The Day</h5>
      <%= link_to "#{random_story.title}", story_path(random_story) %>
    </div>

    <div class="user-dashboard">
      stories user has upvoted<br>
    </div>


  </aside>
</div>

