<%= @snippet.content.html_safe %>
<%= @snippet.user.username if @snippet.user %>
<%=link_to "Submit a story for this snippet", new_story_path(snippet_id: @snippet.id) %>
<ul>
  <% if @stories.count != 0 %>
    <% @stories.each do |story| %>
      <li><%= link_to story.title, story_path(story) %></li>
    <% end %>
  <% else %>
    There are currently no stories for this snippet.
  <% end %>
</ul>

<%= form_for @snippet do |f| %>
  <%= f.hidden_field :content, :value => @snippet.content %>
  <%= f.hidden_field :flagged, :value => true %>
<%= f.submit "Report inappropriate" %>
<% end %>