


<div class="row">
  <div class="large-12 columns">


    <div class="snippet">
      <div class="snippet-content">
        <%= @snippet.content.html_safe %>
      </div>
      <div class="snippet-author">
        <% if @snippet.user %>
          - <%= link_to @snippet.user.username, user_path(@snippet.user)  %>
        <% end %>
      </div>
    </div>

    <div class="snippet">
      <h2><%= link_to "Vine", snippet_vine_path(@snippet) %></h2>
    </div>

    <div class="submit-story">
        <ul>
          <% if current_user %>
          <li><%=link_to "Submit a story for this snippet", new_story_path(snippet_id: @snippet.id), class: "button round snippet-button" %></li>
          <%= form_for @snippet, :url => snippet_flag_path(@snippet) do |f| %>
          <li><%= f.submit "Report inappropriate", class: "button round secondary small" %></li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="snippet-stories">
      <div class="snippet-stories-header">
        Stories for this snippet:
      </div>
      <% if @stories.count != 0 %>
        <% @stories.each do |story| %>
          <div class="snippet-story">
            <%= link_to story.title, story_path(story) %>
          </div>
        <% end %>
      <% else %>
        <p class="center-text">There are currently no stories for this snippet.<p>
        <p class="center-text"><a href="#" data-reveal-id="signup">Inspired? How about signing up!</a></p>
      <% end %>
    </div>
  </div>

   <div id="signup" class="reveal-modal" data-reveal>
    <%= render 'layouts/signup' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>
