<%= @snippet.content.html_safe %>
<%= @snippet.user.username if @snippet.user %>
<%=link_to "Submit a story for this snippet", new_story_path(snippet_id: @snippet.id) %>
<ul>
  <% if @stories.count != 0 %>
    <% @stories.each do |story| %>
      <li><%= link_to story.title, story_path(story) %></li>
    <% end %>
  <% else %>
    There are currently no stories for this snippet.
  <% end %>
</ul>

<%= form_for @snippet, :url => snippet_flag_path(@snippet) do |f| %>
<%= f.submit "Report inappropriate" %>
<% end %>
