<div class="center row">
   <link href='http://fonts.googleapis.com/css?family=Bitter|Bree+Serif' rel='stylesheet' type='text/css'>
  <div class="section-container tabs" data-section="tabs">
  <section class="active">
  <div class="large-12 columns">

<div id="edit_user_form">
  <%= form_for(@user) do |f| %>
  <fieldset>
    <legend>This is You!</legend>
  <p>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

   <%= f.label :last_name %>
   <%= f.text_field :last_name %>
   <%= f.label :email %>
   <%= f.text_field :email %>
   <%= f.label :pic_url%>
   <%= f.text_field :pic_url %>
   <%= f.label :url %>
   <%= f.text_field :url %>
   <%= f.label :country %>
   <%= f.text_field :country %>
   <%= f.label :bio %>
   <%= f.text_area :bio, rows: 10 %>
 </p>
   <%= f.submit "Update",:class => "button expand" %>
  </fieldset>
  <% end %>
  </div>
</div>
</section>
</div>
</div>
