
<div id="profile-page">
  <h1><%= @user.username.capitalize %>'s Profile</h1>
  <h2 class="user-dashboard"><small>Username:</small> <%= @user.username %></h2>
  <h2 class="user-dashboard"><small>Country:</small> <%= @user.country %></h2>
  <h2 class="user-dashboard"><small>Name:</small> <%= @user.first_name %> <%= @user.last_name %></h2>
  <h2 class="user-dashboard"> <small>URL:</small><% @user.url %></h2>
  <h2 class="user-dashboard"><small>Bio:</small><% @user.bio %></h2>
<br>

<div class="users-badges">
  <h4><%= @user.username.capitalize %>'s Badges:</h4>
  <% @user.stories.each do |story|  %>
    <% story.badges.each do |badge| %>
      <%= badge.title %>
    <% end %>
  <% end %>
</div>

<br><br>

<h4><%=link_to "Edit Profile", edit_user_path(current_user) %></h4>
</div>
