<div class="row dashboard-fullWidth">
  <div class="large-12 columns">
    <div id="profile-page">
      <h1><%= @user.username.capitalize %>'s Profile</h1>
      <div class="row">
       <div class="large-2 columns">
         <div class="circular"><%= image_tag @user.pic_url %></div>
       </div>
       <div class="large-10 columns">
         <div class="row">
          <div class="large-3 columns">
            <div class="user-info-profile-page">
              <h4 class="user-info">Username:</h4><%= @user.username %>
              <h4 class="user-info">Country:</h4><%= @user.country %>
              <h4 class="user-info">Name:</h4> <%= @user.first_name %>
              <h4 class="user-info"> URL:</h4><%= link_to "Website", @user.url %>
            </div>
          </div>
          <div class="large-9 columns">
            <div class="user-info-profile-page">
              <h4 class="user-info">Bio:</h4><%= @user.bio %>
              <% if session[:user_id] == @user.id %>
              <p style="margin-top: 10%; width: 55%" align="right">
                <%=link_to "Edit Profile", edit_user_path(current_user), class: "button radius small" %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row dashboard-fullWidth">
      <div class="large-12 columns">
    <h4 class="user-info-content">User's Snippets</h4>
    <% if @user.snippets %>
      <ul>
        <% @user.snippets.each do |snippet| %>
        <li><%= link_to strip_tags(snippet.content), snippet_path(snippet) %></li>
        <% end %>
      </ul>
    <% else %>
      This user has no snippets.
    <% end %>
     <h4 class="user-info">User's Stories</h4>
     <% if @user.all_published %>
     <ul>
       <% @user.all_published.each do |story| %>
        <li><%= link_to strip_tags(story.title), story_path(story) %></li>
       <% end %>
     </ul>
      <% else %>
        This user has no published stories.
      <% end %>
  </div>
</div>


  </div>





  <div class="users-badges">
    <h4><%# @user.username.capitalize %></h4>
    <%# @user.stories.each do |story|  %>
    <%# story.badges.each do |badge| %>
    <%# badge.title %>
    <%# end %>
    <%# end %>
  </div>


</div>
</div>
