<h1><%= @user.username.capitalize %>'s Profile</h1>
<%= @user.username %><br>
<%= @user.country %><br>
<%= image_tag @user.pic_url %><br>
<%= link_to "Website", @user.url %><br>

<br>


<br><br>

<div class="users-badges">
  <%= @user.username.capitalize %>'s Badges:<br>
  <%# @user.stories.first.first_story_badge %>
  <% @user.stories.each do |story|  %>
    <% story.badges.each do |badge| %>
      <%= badge.title %>
    <% end %>
  <% end %>
</div>

<br><br>

<%=link_to "Edit", edit_user_path(current_user) %>
