<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Bitter|Bree+Serif' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>


 <div class="logoNavBar">
    <ul class="menu">
      <% if current_user %>
      <li><%= link_to "StoryVine", dashboard_path, class: "logofont" %></li>
      <% else %>
      <%= link_to "StoryVine", :root, class: "logofont"  %>
      <% end %>
    </ul>
  </div>

  <div id="infoMenu">
    <ul class="menu">
      <li><a href="#" data-reveal-id="login">LOGIN</a></li>
      <li><a href="#" data-reveal-id="signup">SIGNUP</a></li>
    </ul>
  </div>

  <div id="login" class="reveal-modal" data-reveal>
    <%= render 'layouts/login' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="signup" class="reveal-modal" data-reveal>
    <%= render 'layouts/signup' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="fullpage">

    <div class="section" id="section0">
      <div class="row">
        <div class="small-12 columns">
          <div class="headerlogo">Story Vine</div>
        </div>
        <div class="small-12 columns">
          <span id="index-typed"></span>
        </div>
        <div class="small-12 columns">
          <div class="search-bar">
            <%= form_tag stories_search_path, :method => :get do %>
              <%= text_field_tag :search, params[:search], :placeholder => "search for stories" %>
              <%= submit_tag "Search", :name => nil, class: "button round" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>



    <div class="section">
      <div class="row">
        <div class="small-12 columns">
        <div class="headerlogo">Featured Story</div>
        <ol class ="index-list">
          <h2>
            <%= link_to "#{random_story.title}", story_path(@story) %>
          </h2>
        </ol>
        </div>
      </div>
      </div>


    <div class="section">
      <div class="slide">
          <div class="row">
            <div class="small-12 columns">
                  <div class="headerlogo">Popular Stories</div>
                  <ol class ="index-list">
                  <% @popular_stories.each do |story| %>
                  <% story.each do |key, value| %>
                  <li>
                  <%= link_to key.content, story_path(key) %> <%= value %> Tags
                  </li>
                <% end %>
                <% end %>
                </ol>
          </div>
      </div>

      </div>
      <div class="slide">
      Other SLide information
       </div>
    </div>

        <div class="section">
      <div class="slide">

          <div class="row">
            <div class="small-12 columns">
            <div class="headerlogo">Popular Snippets</div>
            <ol class ="index-list">
            <% @popular_snippets.each do |snippet| %>
            <% snippet.each do |key, value| %>
            <li>
            <%= link_to key.content, snippet_path(key) %> <%= value %> Stories Created
            </li>
          <% end %>
          <% end %>
          </ol>
        </div>
      </div>
      </div>
      <div class="slide"> Slide 2 </div>
    </div>


      <div class="section">
        <div class="row">
        <div class="small-12 columns">
        <div class="headerlogo">Meet the Team</div>
      </div>
      </div>
      </div>
  </div>



<script>
  $(function(){
      $("#index-typed").typed({
        strings: ["Have a thought.", "Jot it down.", "... Share it here.", "Inspire others."],
        typeSpeed: 70
      });
  });
</script>
  </body>
</html>
