<h1>Edit Your Story</h1>

  <%= form_for @story do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :content %>
    <%= f.text_area :content, :value => @story.content.html_safe, class: "redactor" %><br>

    Would you like to publish this story?
    <%= f.radio_button 'published', false, { :checked => true } %> No
    <%= f.radio_button 'published', true %> Yes

    <%= f.submit %>

  <% end %>
<div id="publish-warning">
  Are you sure? This story will no longer be editable.
</div>
