<h1> Create a new story </h1>
<%= form_for @story do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content, :class => "redactor"%><br>
  <%= f.hidden_field :published, :value => false %>
  <%= f.submit "Save" %>
<% end %>
<div class="autosave">

</div>
