<div class="row">
  <div class="large-12 columns">
    <div class="snippet">
    <div class="root-snippet">
    <h3>Snippet</h3>
      <%= @story.snippet.content %>
    </div>
  </div>

    <br><br>

    <div class="parent-accordion-bar">
      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#panel1a">Parent Story</a>
            <div id="panel1a" class="content active">
              <%= link_to "#{@story.title}", story_path(@story) %>
            </div>
        </li>
      </ul>
    </div>

    <br><br>

    <h1> Create a new story </h1>
    <%# params %>
    <%= form_for @story_new do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %><br>
      <%= f.hidden_field :parent_id, :value => @story.id %>
      <%= f.hidden_field :snippet_id, :value => @story.snippet.id %>
      <%= f.hidden_field :author_id, :value => current_user.id %>
      <%= f.label :content %>
      <%= f.text_area :content, :class => "redactor"%><br>
      <%= f.hidden_field :published, :value => false %>

      <%= f.submit "Save", class: "button round snippet-button small" %>
    <% end %>
    <div class="autosave">

    </div>



  <div class="story-show">
      <ul class="side-nav-1">
        <h4>Other Stories Written Off Of "<%= @story.title %>"</h4>
          <% @story.children.each do |story| %>
            <p><%= link_to "#{story.title}", story_path(story) %></p>
          <% end %>
      </ul>
  </div>


  </div>
</div>

<br><br>



