<div class="row">
  <div class="large-12 columns">
    <div class="root-snippet">
    <h3>Snippet</h3>
      <%= @story.snippet.content %>
    </div>

    <br><br>

    <ul class="accordion" data-accordion>
      <li class="accordion-navigation">
        <a href="#panel1a">Parent Story</a>
          <div id="panel1a" class="content active">
            <%= link_to "#{@story.title}", story_path(@story) %>
          </div>
      </li>
    </ul>


    <br><br>

    <h1> Create a new story </h1>
    <%# params %>
    <%= form_for @story_new do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %><br>
      <%= f.hidden_field :parent_id, :value => @story.id %>
      <%= f.hidden_field :snippet_id, :value => @story.snippet.id %>
      <%= f.hidden_field :author_id, :value => current_user.id %>
      <%= f.label :content %>
      <%= f.text_area :content, :class => "redactor"%><br>
      <%= f.hidden_field :published, :value => false %>

      <%= f.submit "Save" %>
    <% end %>
    <div class="autosave">

    </div>


    <ul class="side-nav">
      <h4>Other Stories Written Off Of "<%= @story.title %>"</h4>
        <% @story.children.each do |story| %>
          <li><%= link_to "#{story.title}", story_path(story) %></li>
        <% end %>
    </ul>

  </div>
</div>

<br><br>







