<div class="row">
  <div class="large-12 columns">

    <div class="snippet story-snippet-show">
      <div class="snippet-content">
      <h4>Snippet:</h4>
         <%= strip_tags(@snippet.content) %>
      </div>
      <div class="snippet-author">
        <% if @story.snippet.user %>
          <%= link_to @story.snippet.user.username, user_path(@story.snippet.user)  %> (<%= link_to "link", @story.snippet %>)
        <% end %>
      </div>
    </div>

    <div class="parent-story">
      <% if @story.parent != nil %>
        <div class="story-show">
          <h4>This story was written off:</h4>
            <%= link_to "#{@story.parent.title}", story_path(@story.parent.id) %><br>
        </div>
      <% end %>
    </div>

    <div class="story-show">
      <% if @story.title && @story.content %>
        <h4><%= @story.title.html_safe %></h4>
        <%= @story.content.html_safe %><br>
        <hr>
        Written By: <%= link_to "#{@story.author.username}", user_path(@story.author.id) %><br></br>
        <% if @story.published && session[:user_id] %>
          Like this story? <%= link_to "Write Off Of This Story", new_nested_story_path %>
          <% elsif !current_user %>
          <p class="center-text"><a href="#" data-reveal-id="signup">Inspired? How about signing up!</a></p>
        <% end %>
      <% end %>


      <% if story_editable?(@story) %>
      <div>
        <% if !@story.published && story_editable?(@story) %>
          <%= link_to "Edit", edit_story_path(@story) %><br>
          <%= link_to "Delete", @story, :method => :delete %>
        <% end %>

      </div>


      <% if current_user %>
        <%= form_for @story, :url => story_flag_path(@story) do |f| %>
        <%= f.submit "Report inappropriate" %>
        <% end %>
      <% end %>



      <div class="story-tags">
        <h4>Tags</h4>
        <% @story.tags.each do |tag| %>
          <%= link_to "#{tag.name}", tags_show_path(tag) %><br>
        <% end %>
        <%= render :partial => 'tags/tagform'%>
      </div>
      <% end %>

  <div class="vine-for-story">
   <%= link_to snippet_vine_path(@snippet) do %>
        <div id="vine-hover"></div>
      <% end %>
    </div>

    <div class="vine-icon">
      See The Parent Story
  </div>

      <div class="row">
        <div class="small-11 small-centered columns">
      <div class="vote-count">
        Votes: <%= @story.vote_count %>
      </div>
      </div>
    </div>

          <div class="row">
    <div class="small-11 small-centered columns">
      <div class="vote-button" id="vote-center-button">
        <% if current_user %>
          <div id="upvote">
          <% if @vote != nil && @vote.user_id == current_user.id %>
            <%= button_to "Downvote",vote_delete_path(@vote), :method => :delete, :class => "button round", :confirm => "Are you sure ?", id: "voterguy" %>
          <% else %>
            <%= render "votes/new" %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

    </div>


    <div class="story-children">
      <div class="story-show">
        <h4>Children:</h4>
        <% @story.children.each do |story| %>
          <% if story.published == true %>
            <p><%= link_to "#{story.title}", story_path(story.id) %><br>
            By: <%= story.author.username %></p>
          <% end %>
        <% end %>
      </div>
    </div>




  </div>
</div>



