<%= @story.title %><br>
<%= @story.content %><br>
<%= @story.vote_count %><br>
<% if current_user %>
<div id="upvote">
  <%= render "votes/new"  %>
</div>
<% end %>

<% if current_user %>
  <% if @story.published == false %>
    <%= link_to "Edit", edit_story_path(@story) %><br>
    <%= link_to "Delete", root_path, :method => :delete %>
  <% end %>
<% end %>

