<%= @story.snippet.content %>(<%= link_to "link", @story.snippet %>)<br>
<% if @story.title %>
  <%= @story.title.html_safe %><br>
<% end %>
<% if @story.content %>
<%= @story.content.html_safe %>
<% end %>
<%= @story.vote_count %><br>
  <% if current_user %>
    <div id="upvote">
    <% if @vote != nil && @vote.user_id == current_user.id %>
      <%= button_to "Delete",vote_delete_path(@vote), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%>
    <% else %>
      <%= render "votes/new" %>
    <% end %>
    </div>
  <% end %>

<% if story_editable?(@story) %>
<div>
  <% if !@story.published %><Br><br>
    <%= link_to "Edit", edit_story_path(@story) %><br>
    <%= link_to "Delete", root_path, :method => :delete %>
  <% end %>
<% end %>
</div>
<br><br>

<%= form_for @story, :url => story_flag_path(@story) do |f| %>
<%= f.submit "Report inappropriate" %>
<% end %>

<div class="story-tags">
  <% @story.tags.each do |tag| %>
    <%= link_to "#{tag.name}", tags_show_path(tag) %>
  <% end %>
  <%= render :partial => 'tags/tagform'%>
</div>

<div class="story-badges">
  <%# @story.badges.each do |badge| %>
    <%# badge.title  %>
  <%# end %>
  <%= @story.award_badge.title %>
</div>
