<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Story Vine', :root %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form">
        <div class="row collapse">
          <%= form_for(:user, url: login_path) do |f| %>
          <div class="large-5 small-4 columns">
            <%= f.text_field :email, :placeholder => "Email" %>
          </div>
          <div class="large-5 small-4 columns">
            <%= f.password_field :password, :placeholder => "Password"%>
          </div>
          <div class="large-2 small-3 columns">
            <%= f.submit "Login", :class => "alert button expand" %>
          </div>
          <% end %>
        </div>
      </li>
      <li class="divider"></li>
      <% if current_user %>
        <li class="has-dropdown">
          <a href="#">MENU</a>
          <ul class="dropdown">
            <li class="divider"></li>
            <li><%= link_to 'New Snippet', new_snippet_path%></li>
            <li class="divider"></li>
            <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
            <li class="divider"></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to 'Sign Up', signup_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to 'Browse Snippets', snippets_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Browse Stories', stories_path %></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
