<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="top-logo-name">
      <%= link_to 'Story Vine', :root %>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="has-form">
  <div class="row collapse">
    <div class="large-8 small-9 columns">
      <%= form_tag stories_search_path, :method => :get do %>
      <%= text_field_tag :search, params[:search], :placeholder => "search for stories" %>
    </div>
    <div class="large-4 small-3 columns">
      <%= submit_tag "Search", :name => nil, class: "button radius" %>
      <% end %>
    </div>
  </div>
</li>

      <li class="divider"></li>
      <% if current_user %>
        <li><%= link_to "Hello, #{current_user.username.capitalize}", user_path(current_user) %></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">MENU</a>
          <ul class="dropdown">
            <li class="divider"></li>
            <li><%= link_to 'New Snippet', new_snippet_path%></li>
            <li class="divider"></li>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Logout', logout_path(current_user) %></li>
          </ul>
        </li>
      <% else %>
      <ul class="menu">
      <li><a href="#" data-reveal-id="login">LOGIN</a></li>
      <li><a href="#" data-reveal-id="signup">SIGNUP</a></li>
      </ul>
      <% end %>
    </ul>
      <div id="login" class="reveal-modal" data-reveal>
      <%= render 'layouts/login' %>
      <a class="close-reveal-modal">&#215;</a>
  </div>

  <div id="signup" class="reveal-modal" data-reveal>
    <%= render 'layouts/signup' %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  </section>
</nav>
